<h1 class="title-name">Bienvenido al blog de Angular</h1>
<br />
<form #formUser="ngForm" class="form">
  <label for="text">Título del post:</label>
  <input
    type="text"
    id="title"
    name="title"
    [(ngModel)]="postBlog.titulo"
    required
  />

  <label for="imagen">Selecciona una imagen:</label>
  <input type="file" (change)="cargarImagen($event)" />

  <label for="text">Descipción:</label>
  <textarea
    cols="40"
    rows="5"
    name="description"
    [(ngModel)]="postBlog.descripcion"
    required
  ></textarea>

  <label for="text">Selecciona una fecha:</label>
  <input type="date" name="fecha" [(ngModel)]="postBlog.fecha" required />

  <button type="button" (click)="crearPost()">Publicar</button>
</form>
<hr />

<br />
<div class="container-post">
  <h2 class="title-name">Posts publicados:</h2>
  <div *ngFor="let post of arrayPosts" class="card">
    <h5 class="card-title">{{ post.titulo }}</h5>
    <img
      [src]="post.imagen"
      class="card-img-top"
      [alt]="post.titulo"
      *ngIf="post.imagen"
    />
    <div class="card-body">
      <p class="card-text">{{ post.descripcion }}</p>
      <p class="card-text">
        <small class="text-muted">
          Publicado el {{ post.fecha | date : "dd/MM/yyyy" }}
        </small>
      </p>
    </div>
  </div>
</div>
<!-- <div class="container-post" [innerHTML]="pintarPost()"></div> -->
