<h1 class="titulo-name">Bienvenido al blog de Angular</h1>
<br>
<form action="get" class="formulario">
    <label for="text">Título del post:</label>
    <input type="text" [(ngModel)]="postBlog.titulo" required>
    <label for="imagen">Selecciona una imagen:</label>
    <input type="file" [(ngModel)]="postBlog.imagen" required>
    <label for="text">Descipción:</label>
    <textarea cols="40" rows="5" [(ngModel)]="postBlog.descripcion" required></textarea>
    <label for="text">Selecciona una fecha:</label>
    <input type="date" [(ngModel)]="postBlog.fecha" required>
    <button (click)="crearPost()">Publicar</button>
</form>
<hr>
<div class="container-post">
    <h2 class="titulo-name">Posts publicados</h2>
</div>
<br>
<div class="container-post" [innerHTML]="pintarPost()">
    
</div>