<h1 class="titulo-name">Bienvenido al Blog de Angular</h1>

<form action="">
    <input type="text" placeholder="Título del post" [(ngModel)]="">
    <input type="text" [(ngModel)]="">
    <textarea name="" id="" [(ngModel)]="" cols="30" rows="10" placeholder="Descripción del post...">

    </textarea>
    <input type="text" [(ngModel)]="">
    <button (click)="crearPost()">Publicar</button>
</form>
<hr>
<div>
    <h2 class="titulo-post"></h2>
    <img src="" alt="">
    <p class="text-blog"></p>
    <small class="text-blog-small"></small>
</div>